[run]
branch = True
source =
    accounts
    battle
    common
    config
    core
    gameplay
    guests
    guilds
    tasks
    trade
    websocket
omit =
    */migrations/*
    */templatetags/*
    */tests/*
    tests/*
    manage.py

[report]
show_missing = True
skip_empty = True
