.git
.gitignore
.vscode
.idea

__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

.env
.env.docker
.local/
*.sqlite3
*.sqlite3-journal

media/
staticfiles/

celerybeat-schedule
celerybeat-schedule.*
celerybeat.pid

*.log
logs/
